
#cont {
  
    color: aliceblue;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  body {
    background-image: url("/img/fondo.jpg");
    background-size: cover;
    flex: 1;  
}

#emailHelp{
    color: aliceblue;
}